@model List<string>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <ul class="list-group">
        @foreach (var city in Model)
        {
            <li class="list-group-item">@city</li>
        }
    </ul>
</div>
