@model Student
<form asp-controller="Home" asp-action="NewStudent" method="post">
    NameSurname:<input type="text" class="form-control" name="NameSurName" placeholder="Enter Name"/>
    Age:<input type="number" name="Age" class="form-control"/>
    <input type="submit" value="send data" class="btn btn-primary"/>
</form>