@model Student
<form asp-controller="Home" asp-action="NewStudent" method="post">
    <div class="container">
        <div class="form-group">
            <input asp-for="NameSurname" class="form-control" placeholder="Enter Name"/>
            <input asp-for="Age" class="form-control" placeholder="Age"/>
        </div>
    </div>
    <input type="submit" value="send data" class="btn btn-primary"/>
</form>