@model List<Student>
<div class="container">
    <ul class="list-group">
        @foreach (var student in Model)
        {
            <li class="list-group-item">@student.Id  @student.NameSurname @student.Age</li>
        }
    </ul>
</div>